<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .header {
        text-align: center;
        padding: 20px;
        margin: 10px;
        background-color: #eee;
    }
  </style>
</head>
<body>
  <h1 class="header">Customer List</h1>
  <hr>
  <ul>
    {% for coll in colle %}
      <li>
        <a href="/admin/agent_conv/{{ coll['customer_id'] }}">Customer Id: {{ coll['customer_id'] }}</a>
        <p>Customer Name: {{ coll['Name'] }}</p>
        <br>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
