<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            text-align: center;
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1 class="header">Welcome</h1>
    <hr>
    <h4>If you have raised query before then please enter your details below: </h4>
    <form action="" method="POST">
        <input type="text" name="customer_id" placeholder="Enter your cunstomer ID">
        <input type="submit">
    </form>
    <h4>If you want to start new conversation then <a href="/add_customer">Click here</a></h4>
</body>
</html>