<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer message platform</title>
</head>
<body>
  <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %} -->
  <form action="" method="POST">
    <textarea name="message" placeholder="Enter message here…"></textarea>
    <br>
    <br>
    <select name="Name">
      <option value="0">Choose your agent....</option>
      {% for agent in agents %}
        <option value="{{agent['agent_id']}}">{{ agent['Name'] }}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    <input type="text" name="customer_name" placeholder="Customer name (for new customers)">
    <br>
    <br>
    <input type="submit">
  </form>
  <hr>
  {% for message in messages %}
    <div class="message">
      <li>
        {% if message['agent'] %}
          {{ message['agent_name'] }} (Agent):
        {% else %}
          {{ message['customer_name'] }} (Customer):
        {% endif %}
        {{  message['Body'] }}
      </li>
    </div>
  {% endfor %}
</body>
</html>

